{% extends "home/common/layout.html" %}

{% block content %}
<section class="content">
    <div class="page-header">
        <h3>Job强制杀死队列</h3>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="box">
                <div class="box-header with-border">
                     <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                             <form class="form-inline wrap_search">
                                 <div class="form-group">
                                    <select class="form-control" name="status">
                                        <option value="{{ CommonConstant.default_status_neg_99 }}">请选择状态</option>
                                        {% for _key,_desc in status_map.items() %}
                                        <option {% if _key == sc.status  %} selected {% endif %} value="{{_key}}">{{_desc}}</option>
                                        {% endfor %}
                                    </select>
                                 </div>

                                 <div class="form-group" style="width: 18%;">
                                     <input type="text" class="form-control col-sm-12 col-md-3"  name="date_range_picker" placeholder="请选择日期" value="" autocomplete="off" style="width: 100%;">
                                     <input type="hidden" name="date_from" value="{{sc['date_from']}}">
                                     <input type="hidden" name="date_to" value="{{sc['date_to']}}">
                                 </div>
                                 <div class="form-group">
                                     <button type="submit" class="btn btn-primary">搜索</button>
                                 </div>
                                 <a class="btn btn-link" href="{{ GlobalUrlService.buildHomeUrl('/log/kill') }}">重置搜索</a>
                             </form>
                        </div>
                     </div>
                </div>
                <div class="box-body table-responsive no-padding" >
                    <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th width="10%">ID</th>
                                    <th>Job 名称</th>
                                    <th width="10%">状态</th>
                                    <th width="16%">更新时间</th>
                                    <th width="16%">创建时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if list %}
                                {% for item in list %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.job_name }}</td>
                                    <td>{{ item.status_desc }}</td>
                                    <td>{{ item.updated_time }}</td>
                                    <td>{{ item.created_time }}</td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="5" class="text-center">(＞﹏＜)没有数据</td>
                                </tr>
                                {% endif %}
                                </tbody>
                            </table>
                </div>
                <div class="box-footer clearfix">
                    {% include 'common/pagenation.html' %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{%block js %}
{% autoescape false %}
    {{ StaticPluginsHelper.daterangepicker() }}
{% endautoescape %}
<script src="{{ GlobalUrlService.buildWWWStaticUrl('/js/home/log/common.js') }}"></script>
{% endblock %}