{% extends "home/common/layout.html" %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="nav-tabs-custom">
                {% include "home/job/tools/nav.html" %}
                <div class="tab-content">
                    <div class="tab-pane active">
                        <table class="table table-hover table-bordered table-striped group_list_wrap project_list_wrap">
                            <tbody>
                            <tr>
                                <td width="25%">Job Id</td>
                                <td>Job 名称</td>
                            </tr>
                            {% if list %}
                            {% for item in list %}
                            <tr>
                                <td>
                                    <a href="{{ GlobalUrlService.buildHomeUrl('/job/index/info') }}?id={{ item.id }}">{{ item.id }}</a>
                                </td>
                                <td>
                                    <a href="{{ GlobalUrlService.buildHomeUrl('/job/index/info') }}?id={{ item.id }}">{{ item.name }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="2" class="text-center">(＞﹏＜)没有数据</td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}